@page
@model Rosca_Theodora_MOutlet.Pages.Products.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Size" class="control-label"></label>
                <input asp-for="Product.Size" class="form-control" />
                <span asp-validation-for="Product.Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Color" class="control-label"></label>
                <input asp-for="Product.Color" class="form-control" />
                <span asp-validation-for="Product.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price" class="control-label"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.DeliveryDate" class="control-label"></label>
                <input asp-for="Product.DeliveryDate" class="form-control" />
                <span asp-validation-for="Product.DeliveryDate" class="text-danger"></span>
            </div>
            <label asp-for="Product.CompanyID" class="control-label">Company Name</label>
            <select asp-for="Product.CompanyID" class="form-control" asp-items="ViewBag.CompanyID"></select>
            <span asp-validation-for="Product.CompanyID" class="text-danger"></span>
            <label asp-for="Product.ProductCategories" class="control-label">Category Name</label>
            <select asp-for="Product.ProductCategories" class="form-control" asp-items="ViewBag.ProductCategories"></select>
            <span asp-validation-for="Product.ProductCategories" class="text-danger"></span>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
